{% load xfilter %}
<!DOCTYPE html>
<html class=" ">
<head>  </head>
<body class="">
{% include 'header.html' %}  {% include 'left.html' %}
<main>
    {% include 'banner.html' %}
    <div class="container-fluid">
            <h1 class="bread-crumb">
          <strong>
            <a href="/burpflow">BURP HTTP FLOW</a> / <a href="/burpflow/distinct/">DISTINCT</a> / <a href="#">VURN</a>
          </strong>
        </h1>
      
        <table class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>host</th>
                <th>method</th>
                <th>path</th>
                <th>title</th>
                <th>status</th>
                <th>time</th>
            </tr>
            </thead>
            <tbody id="resulist">
 
                <tr>
                    <td width="50"> <a href='#'>{{ burp_flow.id }}</td>
                    <td width="250">   {{ burp_flow.host }}  </td>
                    <td width="70">{{ burp_flow.isPost | httpmethod}}</td>
                    <td width="250"> <a href='{{ i_http.host }}{{ i_http.path  }}'>  {{ burp_flow.path  }} </td>
                    <td width="50">--</td>
                    <td width="50"> --</td>
                    <td width="50"> --</td>
                </tr>
            

               
            </tbody>


      
 
        </table>
       
        {{  burp_flow.postData | showhttp | safe}}
      

    </div>


</main>
</body>
</html>