<!DOCTYPE html>
<html class=" ">
  
{% include 'header.html' %}
  
  <body class="">

    {% include 'left.html' %}

    <main>
      {% include 'banner.html' %}
      <div class="container-fluid">
        <h1 class="bread-crumb">
          <strong>
            welcome kekescan
          </strong>
        </h1>
 
 
 <pre>
 
              _                        
 _ _ _  ___ | | ___  ___ ._ _ _  ___   
| | | |/ ._>| |/ | '/ . \| ' ' |/ ._>  
|__/_/ \___.|_|\_|_.\___/|_|_|_|\___.  
                                 __  ___  _______  __  ___  _______     _______.  ______     ___      .__   __. 
                                |  |/  / |   ____||  |/  / |   ____|   /       | /      |   /   \     |  \ |  | 
                                |  '  /  |  |__   |  '  /  |  |__     |   (----`|  ,----'  /  ^  \    |   \|  | 
                                |    <   |   __|  |    <   |   __|     \   \    |  |      /  /_\  \   |  . `  | 
                                |  .  \  |  |____ |  .  \  |  |____.----)   |   |  `----./  _____  \  |  |\   | 
                                |__|\__\ |_______||__|\__\ |_______|_______/     \______/__/     \__\ |__| \__| 
                                                                                
     </pre>                                                                            
                                                                                
    </main>

  </body>
 
</html>